@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

body {
  font-family: 'Lexend', sans-serif;
}

.nav-button {
  @apply flex items-center px-4 py-2 text-sm font-medium rounded-md shadow-md bg-primary hover:bg-opacity-80 focus:outline-none focus-visible:ring-2 focus-visible:ring-light focus-visible:ring-opacity-75;
}

.tool-button {
  @apply text-sm font-medium leading-none rounded-xl text-dark-50 hover:text-dark dark:hover:text-light hover:leading-none;
}

.tool-active {
  @apply leading-none text-light hover:leading-none bg-primary/20 hover:bg-primary/20;
}

.tool-active > svg {
  @apply text-primary;
}

.menu-button {
  @apply flex items-center w-full px-4 py-2;
}

.slider {
  @apply w-full h-2 rounded-lg appearance-none cursor-pointer bg-primary/30;
}

.slider::-webkit-slider-thumb {
  @apply w-4 h-4 rounded-full appearance-none cursor-pointer bg-primary;
}

.mq-editable-field.mq-math-mode,
.mq-editable-field.mq-math-mode.mq-focused {
  @apply block w-full p-3 text-gray-900 border border-gray-300 rounded-lg outline-none bg-gray-50;
}

.mq-editable-field.mq-math-mode.mq-focused {
  @apply border-blue-500 shadow-none ring-blue-500;
}

.input-field {
  @apply block w-full p-3 text-sm text-gray-900 border border-gray-300 rounded-lg outline-none bg-gray-50 focus:ring-blue-500 focus:border-blue-500;
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.g6-component-contextmenu {
  @apply bg-light/80 dark:bg-neutral dark:border-neutral dark:shadow-white/10 dark:shadow-lg;
}

.context-menu-item {
  @apply flex items-center px-3 py-2 font-semibold cursor-pointer text-dark hover:bg-primary/20 hover:text-dark dark:text-white;
}

.context-menu-icon {
  @apply w-5 h-5 mr-2 dark:invert-[1];
}

.tooltip {
  --popper-theme-background-color: theme('colors.dark');
  --popper-theme-text-color: theme('colors.light');
  --popper-theme-padding: 0.5rem 1rem;
  --popper-theme-border-radius: 0.5rem;
}

.popper {
  @apply w-max;
}

.dark .tooltip {
  --popper-theme-background-color: theme('colors.light');
  --popper-theme-text-color: theme('colors.dark');
}

.back {
  @apply absolute w-full h-full -z-10 bg-light dark:bg-[#1e1e1e];
}

.g6-grid {
  @apply dark:invert-[.9];
}

.minimap {
  @apply absolute hidden border rounded-md right-4 lg:block bottom-4 bg-light/40 border-dark/[0.15] dark:border-light/5 dark:bg-neutral/40 backdrop-blur-sm;
}

.g6-minimap-viewport {
  @apply outline-2 outline-primary !important;
}

.active-toggle {
  @apply relative text-primary;
}

.toggle {
  @apply relative;
}

.toggle::after {
  content: '';
  @apply absolute bottom-0 left-0 right-0 w-1 h-1 mx-auto rounded-full bg-primary;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d6dee1;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
