@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.nav-button {
  @apply flex items-center shadow-md rounded-md bg-primary px-4 py-2 text-sm font-medium text-white hover:bg-opacity-80 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75;
}

.tool-button {
  @apply rounded-md px-4 py-2 text-sm font-medium text-gray-700 hover:bg-opacity-70;
}

.nav-button.inactive {
  @apply bg-gray-200 hover:bg-gray-300;
}

.active {
  @apply bg-primary text-white;
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.context-menu-item {
  @apply py-2 px-3 text-gray-400 hover:bg-gray-200 hover:text-gray-800 cursor-pointer text-base flex items-center font-semibold;
}

.context-menu-icon {
  @apply w-5 h-5 mr-2;
}
