@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend', sans-serif;
}

.nav-button {
  @apply flex items-center px-4 py-2 text-sm text-base font-medium rounded-md shadow-md bg-primary hover:bg-opacity-80 focus:outline-none focus-visible:ring-2 focus-visible:ring-base focus-visible:ring-opacity-75;
}

.tool-button {
  @apply p-3 text-sm font-medium leading-none rounded-xl text-dark/50 hover:bg-dark hover:text-base hover:leading-none;
}

.tool-active {
  @apply text-base leading-none hover:leading-none bg-primary/20 hover:bg-primary/20;
}

.tool-active > svg {
  @apply text-primary;
}

.menu-button {
  @apply flex items-center w-full px-4 py-2;
}

.slider {
  @apply w-full h-2 rounded-lg appearance-none cursor-pointer bg-primary/30;
}

.slider::-webkit-slider-thumb {
  @apply w-4 h-4 rounded-full appearance-none cursor-pointer bg-primary;
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.context-menu-item {
  @apply flex items-center px-3 py-2 font-semibold cursor-pointer text-dark hover:bg-primary/20 hover:text-dark;
}

.context-menu-icon {
  @apply w-5 h-5 mr-2;
}

.tooltip {
  --popper-theme-background-color: theme('colors.dark');
  --popper-theme-text-color: theme('colors.base');
  --popper-theme-padding: 0.5rem 1rem;
  --popper-theme-border-radius: 0.5rem;
}

.g6-grid {
  @apply bg-base;
}
